.App {
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
  font-family: 'Righteous', cursive;;
}

.content-left {
  flex-grow:1;
  margin-right: 15px;
}

.content-center {
  flex-grow: 4;
}

.content-right {
  flex-grow: 2;
}
